<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bee Population Simulator</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style>
    /* make all inputs 70px wide */
    input {
      width: 70px;
    }
  </style>
</head>

<body>
  <h1>Bee Population Simulator</h1>
  initial conditions:<br />
  <div>
    <input type="numeric" id="H_S0" name="H_S0" value="33000">
    <label for="H_S0">H_S0, Initial susceptible hive bee population</label>
  </div>

  <div>
    <input type="numeric" id="H_I0" name="H_I0" value="100">
    <label for="H_I0">H_I0, Initial infected hive bee population</label>
  </div>

  <div>
    <input type="numeric" id="F_S0" name="F_S0" value="12000">
    <label for="F_S0">F_S0, Initial susceptible forager bee population</label>
  </div>

  <div>
    <input type="numeric" id="F_I0" name="F_I0" value="100">
    <label for="F_I0">F_I0, Initial infected forager bee population</label>
  </div>

  <div>
    <input type="numeric" id="f0" name="f0" value="10000">
    <label for="f0">f0, Initial amount of food</label>
  </div>
  other variables:<br />
  <div>
    <input type="numeric" id="gamma" name="gamma" value="0.007">
    <label for="gamma">gamma, Daily food requirement per adult healthy bee g/day</label>
  </div>

  <div>
    <input type="numeric" id="gamma_I" name="gamma_I" value="0.011">
    <label for="gamma_I">gamma_I, Daily food requirement per adult sick bee g/day</label>
  </div>
  <div>
    <input type="numeric" id="dH" name="dH" value="0.2">
    <label for="dH">dH, death rate of infected hive bee 1/day</label>
  </div>
  <div>
    <input type="numeric" id="dF" name="dF" value="0.2">
    <label for="dF">dF, death rate of infected forager bee 1/day</label>
  </div>
  <div>
    <input type="numeric" id="beta" name="beta" value="0.00005">
    <label for="beta">beta, Disease transmission rate, between all types of bees</label>
  </div>
  <div>
    <input type="numeric" id="kappa" name="kappa" value="50">
    <label for="kappa">kappa, Start disease transmission date</label>
  </div>
  <div>
    <input type="numeric" id="L" name="L" value="2000">
    <label for="L">L, Egg laying rate (eggs/day)</label>
  </div>
  <div>
    <input type="numeric" id="W" name="W" value="5000">
    <label for="W">W, Number of hive bees for 50% egg survival</label>
  </div>
  <div>
    <input type="numeric" id="R_b" name="R_b" value="0.25">
    <label for="R_b">R_b, Baseline recruitment rate (per day)</label>
  </div>
  <div>
    <input type="numeric" id="alpha_f" name="alpha_f" value="0.25">
    <label for="alpha_f">alpha_f, Additional recruitment in absence of food (per day)</label>
  </div>
  <div>
    <input type="numeric" id="alpha_F" name="alpha_F" value="0.75">
    <label for="alpha_F">alpha_F, Effect of excess foragers on recruitment (per day)</label>
  </div>
  <div>
    <input type="numeric" id="m" name="m" value="0.14">
    <label for="m">m, Natural death rate of foragers (per day)</label>
  </div>
  <div>
    <input type="numeric" id="m_w" name="m_w" value="0.0056">
    <label for="m_w">m_w, Natural death rate of foragers and hive bees in winter (per day)</label>
  </div>
  <div>
    <input type="numeric" id="m_s" name="m_s" value="0.0056">
    <label for="m_s">m_s, Natural death rate of foragers and hive bees in summer (per day)</label>
  </div>
  <div>
    <input type="numeric" id="b" name="b" value="500">
    <label for="b">b, Mass of food stored for 50% egg survival (g)</label>
  </div>
  <div>
    <input type="numeric" id="c" name="c" value="0.1">
    <label for="c">c, Food gathered per day per healthy forager (g/day)</label>
  </div>
  <div>
    <input type="numeric" id="c_I" name="c_I" value="0">
    <label for="c_I">c_I, Food gathered per day per sick forager (g/day)</label>
  </div>

  <div id="graph-container" style="width: 80%; margin: auto;">
    <canvas id="beeChart"></canvas>
  </div>

  <script>
    let chart;

    function updateGraph() {
      $.ajax({
        url: '/simulate',
        type: 'POST',
        data: {
          H_S0: $('#H_S0').val(),
          H_I0: $('#H_I0').val(),
          F_S0: $('#F_S0').val(),
          F_I0: $('#F_I0').val(),
          f0: $('#f0').val(),

          gamma: $('#gamma').val(),
          gamma_I: $('#gamma_I').val(),
          dH: $('#dH').val(),
          dF: $('#dF').val(),
          beta: $('#beta').val(),
          kappa: $('#kappa').val(),

          L: $('#L').val(),
          W: $('#W').val(),
          R_b: $('#R_b').val(),
          alpha_f: $('#alpha_f').val(),
          alpha_F: $('#alpha_F').val(),
          m: $('#m').val(),
          m_w: $('#m_w').val(),
          m_s: $('#m_s').val(),
          b: $('#b').val(),
          c: $('#c').val(),
          c_I: $('#c_I').val(),
        },
        success: function (response) {
          if (response.data) {
            updateChartData(response.data);
          } else if (response.error) {
            alert(response.error);
          }
        },
        error: function (e) {
          console.log(e)
          if (e.responseText.includes("Error: could not convert")) {
            alert('Please enter valid numbers for all parameters.');
          }
          alert('An error occurred while updating the graph.');
        }
      });
    }

    function updateChartData(data) {
      chart.data.labels = data.time;
      chart.data.datasets = [
        {
          label: 'Susceptible Hive Bees',
          data: data.H_S,
          borderColor: 'blue',
          fill: false,
          yAxisID: 'y'
        },
        {
          label: 'Susceptible Forager Bees',
          data: data.F_S,
          borderColor: 'blue',
          borderDash: [5, 5],
          fill: false,
          yAxisID: 'y'
        },
        {
          label: 'Infected Hive Bees',
          data: data.H_I,
          borderColor: 'red',
          fill: false,
          yAxisID: 'y'
        },
        {
          label: 'Infected Forager Bees',
          data: data.F_I,
          borderColor: 'red',
          borderDash: [5, 5],
          fill: false,
          yAxisID: 'y'
        },
        {
          label: 'Honey (g)',
          data: data.f,
          borderColor: 'orange',
          fill: false,
          yAxisID: 'y1'
        }
      ];
      chart.update();
    }

    $(document).ready(function () {
      const ctx = document.getElementById('beeChart').getContext('2d');
      chart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [],
          datasets: []
        },
        options: {
          animation: true,
          responsive: true,
          plugins: {
            title: {
              display: true,
              text: 'Bee Populations Over Time',
              font: {
                size: 18
              }
            },
            legend: {
              position: 'top',
            }
          },
          interaction: {
            mode: 'index',
            intersect: false,
          },
          scales: {
            x: {
              type: 'linear',
              display: true,
              title: {
                display: true,
                text: 'Time (days)'
              },
              ticks: {
                stepSize: 50,
                max: 250
              }
            },
            y: {
              type: 'linear',
              grace: 0,
              display: true,
              title: {
                display: true,
                text: 'Population'
              },
              beginAtZero: true,
              suggestedMin: 0,
              min: 0,
            },
            y1: {
              type: 'linear',
              grace: 0,
              display: true,
              position: 'right',
              title: {
                display: true,
                text: 'Honey (g)'
              },
              grid: {
                drawOnChartArea: false
              }
            }
          },
          elements: {
            point: {
              radius: 0
            }
          }
        },
        plugins: [{
          beforeDraw: chart => {
            const ctx = chart.ctx;
            const xAxis = chart.scales.x;
            const yAxis = chart.scales.y;
            const winterStart = xAxis.getPixelForValue(150);
            const winterEnd = xAxis.getPixelForValue(250);

            ctx.save();
            ctx.fillStyle = 'rgba(220, 220, 220, 0.5)';
            ctx.fillRect(winterStart, yAxis.top, winterEnd - winterStart, yAxis.bottom - yAxis.top);
            ctx.restore();
          }
        }]
      });

      $('input').on('change', updateGraph);
      updateGraph(); // Initial graph update
    });
  </script>
</body>

</html>
